.mobile-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #1c1c21;
  /* fixes weird bug on ios/safari  */
  -webkit-transform: translateX(0) translateZ(0);
}

.mobile-cart {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
  background-color: #131316;
}
