.order-container {
  display: block;
  background-color: #1c1c21;
  border-radius: 40px;
  cursor: pointer;
}

.order-container_inner {
  display: flex;
  flex-flow: column;
}

.order-number-date {
  display: flex;
  justify-content: space-between;
}

.success {
  color: #00cccc;
}

.ingredients-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.ingredients_parent {
  display: grid;
  grid-template-columns: repeat(6, 0.8fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.ingredients_parent > div {
  margin-left: -20px;
}

.ingredients_parent > div:nth-child(1) {
  margin-left: 0px;
  z-index: 6;
}

.ingredients_parent > div:nth-child(2) {
  z-index: 5;
}

.ingredients_parent > div:nth-child(3) {
  z-index: 4;
}

.ingredients_parent > div:nth-child(4) {
  z-index: 3;
}

.ingredients_parent > div:nth-child(5) {
  z-index: 2;
}

.ingredients_parent > div:nth-child(6) {
  z-index: 1;
}

.ingredients_parent > div:nth-child(7) {
  z-index: 0;
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
}
