.order-number_center {
  align-self: center;
}

.order-number_start {
  align-self: flex-start;
}

.text_success {
  color: #00cccc;
}

.ingredients-container {
  max-height: 320px;
  width: 100%;
  overflow-y: auto;
}

.ingredient-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.ingredient-price {
  display: flex;
  margin-left: auto;
}

.order-date-price {
  display: flex;
  justify-content: space-between;
  align-self: normal;
}
