.ingredient {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

._draggable {
  cursor: move;
  display: flex;
  justify-content: center;
  width: 48px;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 1023px) {
  .constructor-element-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .constructor-element-wrapper div {
    width: 460px;
  }
}

@media screen and (min-width: 1280px) {
  .constructor-element-wrapper div {
    width: 512px;
    max-width: 512px;
  }
}
