.ingredient {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 8px);
}

.ingredient-outer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 32px);
  margin-left: 48px;
}

._draggable {
  cursor: move;
  display: flex;
  justify-content: center;
  width: 24px;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 1023px) {
  .ingredient {
    justify-content: flex-end;
    width: 100%;
  }

  .ingredient-outer {
    width: 100%;
    margin-left: 0;
    justify-content: flex-end;
  }

  ._draggable {
    height: 100%;
    width: 80px;
  }

  ._draggable > svg {
    margin: auto;
  }

  .constructor-element-wrapper {
    width: calc(100% - 80px);
  }
}

@media screen and (min-width: 1024px) {
  .ingredient-outer {
    margin-left: 32px;
  }
  .constructor-element-wrapper div {
    width: 460px;
  }
}

@media screen and (min-width: 1280px) {
  .ingredient-outer {
    margin-left: 32px;
  }
  .constructor-element-wrapper div {
    width: 524px;
    max-width: 524px;
  }
}
