.image-border {
  width: 60px;
  height: 60px;
  position: relative;
  padding: 2px;
  background: linear-gradient(to right, #801ab2, #4c4cff);
  border-radius: 50%;
}

.image-overlay {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 4px;
  left: 4px;
  opacity: 0.6;
  border-radius: 50%;
  background: #131316;
}

.amount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  background-color: #131316;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.ingredients-0-elem {
  margin-left: -0px;
  z-index: 6;
}

.ingredients-1-elem {
  margin-left: -20px;
  z-index: 5;
}

.ingredients-2-elem {
  margin-left: -20px;
  z-index: 4;
}

.ingredients-3-elem {
  margin-left: -20px;
  z-index: 3;
}

.ingredients-4-elem {
  margin-left: -20px;
  z-index: 2;
}

.ingredients-5-elem {
  margin-left: -20px;
  z-index: 1;
}

.ingredients-6-elem {
  margin-left: -20px;
  z-index: 0;
}
