.burger-constructor-container {
  flex: 0 0 48%;
  height: 100%;
}

.burger-constructor {
  display: flex;
  flex-flow: column;
  height: calc(100% - 100px);
  justify-content: space-between;
}

.burger-components {
  height: calc(100% - 200px);
}

.outer_style {
  display: flex;
  flex-flow: column;
}

.helper {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.helper_shadow {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.inner_style {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  overflow-y: auto;
  max-height: calc(100% - 140px);
}

.conditional {
  overflow: hidden;
}

.ingredient {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 1023px) {
  .row {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .constructor-element-wrapper div {
    width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .constructor-element-wrapper div {
    width: 536px;
  }

  .burger-constructor {
    margin-left: 20px;
  }
}
