.outer_style {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  width: calc(600px - 8px);
}

.inner_style {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  overflow-y: auto;
  max-height: 465px;
}

.Ingredient {
  display: flex;
  align-items: center;
}

.constructor_element_wrapper div {
  width: 536px;
}

.Cart {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  width: calc(600px - 8px);
}

.Cart_total {
  display: flex;
  flex-flow: row;
  align-items: center;
}
