.mobile-cart-item {
  display: flex;
  width: calc(100% - 24px);
  align-items: center;
  margin-left: 24px;
}

.mobile-cart-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  border-spacing: 16px;
  border-bottom: 1px solid #2f2f37;
  margin-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
}

.mobile-cart-name {
  flex: 1;
}

.mobile-cart-image {
  width: 80px;
  height: auto;
  object-fit: cover;
}
