.Item {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  cursor: pointer;
}

.Item_name {
  text-align: center;
}

.Item_price {
  font-family: "Iceland";
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 28px;
  line-height: 24px;
}
