.row {
  width: 1241px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
