.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
}

.row::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
