.item {
  position: relative;
  display: flex;
  flex: 0 0 46%;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.item__image-container {
  display: flex;
  justify-content: center;
}

.item__image-container:hover {
  cursor: pointer;
}

.item__image {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.item_name {
  text-align: center;
  text-shadow: 0px 0px 6px rgb(51 51 255 / 40%),
    0px 0px 4px rgb(51 51 255 / 40%), 0px 4px 4px rgb(51 51 255 / 75%);
}

.item_price {
  font-family: "Iceland";
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 28px;
  line-height: 24px;
  text-shadow: 0px 0px 6px rgb(51 51 255 / 40%),
    0px 0px 4px rgb(51 51 255 / 40%), 0px 4px 4px rgb(51 51 255 / 75%);
}

.item-add {
  color: #4c4cff;
  margin-left: auto;
  margin-right: auto;
}

.item-add:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .item {
    flex: 0 0 44%;
  }

  .item__image-container {
    width: calc(100% + 24px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .item {
    flex: 0 0 30%;
  }
}

@media screen and (min-width: 1024px) {
  .item {
    flex: 0 0 44%;
  }
}
