.container {
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.inner-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-container {
  width: 1240px;
  margin: auto;
  display: flex;
  flex-flow: row;
}

.profile-items-container {
  display: flex;
  width: 320px;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.form-container {
  display: flex;
  width: 480px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.profile-buttons {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.text {
  display: flex;
}

.text-link {
  color: #4c4cff;
}

.text-error {
  color: #f20d33;
}

.text-success {
  color: #00cccc;
}

.text-link:hover {
  text-decoration: underline;
}
