.container {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 180px;
  margin: auto;
}

.profile-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.profile-items-container {
  display: flex;
  width: 320px;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.form-container {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.profile-buttons {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.button {
  margin-bottom: 60px;
}

.form {
}

.input-wrapper {
}

.text {
  display: flex;
}

.text-link {
  color: #4c4cff;
}

.text-error {
  color: #f20d33;
}

.text-success {
  color: #00cccc;
}

.text-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .container {
    margin-top: 16px;
  }

  .form {
    width: 100%;
  }

  .input-wrapper {
    width: 100%;
  }

  .profile-container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .profile-buttons {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin-bottom: 40px;
  }

  .text {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .input-wrapper > div {
    width: calc(100% - 48px);
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin-top: 180px;
  }
  .profile-container {
    width: 1024px;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    width: 1240px;
    margin-top: 180px;
  }

  .profile-container {
    width: 1240px;
  }
}
