.ingredient {
  display: flex;
  align-items: center;
}

.constructor-element-wrapper div {
  width: 536px;
}

._draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}

li {
  list-style-type: none;
}
