.container {
  width: 100%;
  height: calc(100% - 100px);
}

.profile-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  flex-flow: row;
}

.profile-items-container {
  display: flex;
  width: 320px;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.orders-container {
  display: flex;
  flex-flow: column;
  scroll-behavior: smooth;
  height: 100%;
  width: 760px;
  overflow-y: auto;
  margin-top: 40px;
}

@media screen and (max-width: 1023px) {
  .container {
    height: calc(100% - 80px);
  }
  .profile-container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .orders-container {
    height: calc(100% - 80px);
    width: 100%;

    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .profile-container {
    width: 1024px;
  }
}

@media screen and (min-width: 1240px) {
  .profile-container {
    width: 1240px;
  }
}
