@font-face {
  font-family: "JetBrainsMono-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Iceland-Regular.ttf") format("ttf");
}

body {
  background-color: #131316;
  margin: 0;
  font-family: "JetBrainsMono-Regular", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8585ad #2f2f37;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #2f2f37;
}

*::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 0px;
  border: 0px none #ffffff;
}
