@font-face {
  font-family: "JetBrainsMono-Regular";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/jetbrainsmono-regular/jetbrains-mono-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/jetbrainsmono-regular/jetbrains-mono-v12-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Iceland";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./assets/fonts/iceland/iceland-v16-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/iceland/iceland-v16-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: #131316;
  margin: 0;
  font-family: "JetBrainsMono-Regular", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: hide-scroll 1s;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes hide-scroll {
  from,
  to {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input_size_default {
  width: 480px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  z-index: 0;
}

.mobile-title-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.row::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera  */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #2f2f37;
}

*::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 0px;
  border: 0px none #ffffff;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1023px) {
  .row {
    width: 100%;
    height: calc(100% - 80px);
  }

  .row_inner {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .row {
    width: 984px;
    gap: 0;
    height: calc(100% - 100px);
  }
}

@media screen and (min-width: 1280px) {
  .row {
    width: 1240px;
    gap: 40px;
    height: calc(100% - 100px);
  }
}
