.container {
  display: flex;
  flex-flow: column;
  margin: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  margin: auto;
  z-index: 0;
  height: calc(100% - 100px);
  width: 100%;
  gap: 40px;
}

.text-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: auto;
  z-index: 0;
}

.tabs {
  display: flex;
  /* fixes weird bug on ios/safari  */
  -webkit-transform: translateX(0) translateZ(0);
}

.text_shadow {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.orders_feed {
  display: flex;
  flex-flow: column;
  flex: 0 0 48%;
  width: 100%;
  height: calc(100% - 10px);
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

.stats {
  display: flex;
  flex-flow: column;
  flex: 0 0 48%;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
}

.stats_orders_container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 36px;
}

.stats_orders_container_child {
  display: inline-block;
  width: 50%;
}

.orders_ready {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: column;
  row-gap: 8px;
  grid-auto-columns: 50%;
  color: #00cccc;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.orders_in_progress {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: column;
  row-gap: 8px;
  grid-auto-columns: 50%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  .tab-wrapper {
    width: 50%;
  }

  .tab-wrapper > div {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    height: calc(100% - 80px);
  }

  .row {
    height: calc(100% - 80px);
  }

  .text-row {
    width: 100%;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .stats {
    flex: unset;
    margin-top: 20px;
    height: calc(100% - 56px);
    margin-left: 10px;
    overflow-y: auto;
  }

  .orders_feed {
    flex: unset;
    margin-top: 20px;
    height: calc(100% - 56px);
  }

  .tab-wrapper {
    width: 50%;
  }

  .tab-wrapper > div {
    min-width: 0;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    height: calc(100% - 100px);
  }
  .row {
    width: 1024px;
  }
  .text-row {
    width: 1024px;
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .tab-wrapper > div {
    min-width: 146px;
  }
}

@media screen and (min-width: 1240px) {
  .container {
    height: calc(100% - 100px);
  }
  .row {
    width: 1240px;
  }
  .text-row {
    width: 1240px;
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .tab-wrapper > div {
    min-width: 200px;
  }
}
