.main {
}

.tabs {
  display: flex;
}

.components {
  overflow-y: auto;
  max-width: 600px;
  max-height: 700px;
}

.tabs_container {
  display: flex;
}

.item_container {
  display: flex;
  flex-flow: row wrap;
}

p {
  word-break: break-word;
  white-space: normal;
}
