.header {
  background-color: #1c1c21;
  width: 100%;
  height: 100px;
}

.header-inner {
  background-color: #1c1c21;
  width: 1281px;
  margin: auto;
  height: 100px;
  display: flex;
}

.menu-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.menu__item {
  display: flex;
  align-items: center;
  color: #8585ad;
  list-style-type: none;
  cursor: pointer;
}

.menu-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element:first-child > div {
  margin-right: auto;
}

.element:last-child > span {
  margin-left: auto;
}

.menu__item_active {
  display: flex;
  align-items: center;
  color: #f2f2f3;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
