.header {
  background-color: #1c1c21;
  width: 100%;
  height: 100px;
}

.header-inner {
  margin: auto;
  height: 100%;
  display: flex;
}

.menu-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.menu__item {
  display: flex;
  align-items: center;
  color: #8585ad;
  list-style-type: none;
  cursor: pointer;
}

.menu-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}

.element:first-child > div {
  margin-right: auto;
}

.element:last-child > span {
  margin-left: auto;
}

.menu__item_active {
  display: flex;
  align-items: center;
  color: #f2f2f3;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .menu-left {
    display: none;
  }

  .logo {
    justify-content: flex-start;
  }

  .menu-right {
    display: none;
  }

  .header {
    height: 80px;
  }

  .header-inner {
    margin: unset;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header-inner {
    width: 1024px;
  }

  .menu-left {
    display: flex;
    flex: none;
  }

  .logo {
    justify-content: center;
  }

  .menu-right {
    display: flex;
  }

  .header-inner {
    margin: auto;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-inner {
    width: 1240px;
  }

  .menu-left {
    display: flex;
    flex: 1;
  }
}
